footer {
  background: rgba(10, 14, 28, 0.85);
  border-top: 1px solid var(--border-divider);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
  color: var(--text-secondary);
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
